/* Play or Install buttons in the main page (recently played)
   ========================================================================== */

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Landscape_3VOR2 {
   border-radius: var(--PlayOrInstall-Border-Corners);
   border: var(--PlayOrInstall-Border-Outside);
   box-shadow: var(--PlayOrInstall-Border-Inside) !important;
}

/* ========================================================================== 
   END Play or Install buttons */
