/* To enable look in sidebar_homeandsearch */
.gamelistbar_Container_3x1Hk {
    grid-template-columns: 1fr 35% !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m .gamelistdropdown_Arrow_15aGn {
    margin: 12px 0px 0px -1px;
    width: 30px;
}

.gamelistdropdown_ViewName_3kSh7 {
    display: none;
}